{% layout none %}

<!-- template content -->

<div id="qr-code"></div>

<script>
  new QRCode(document.getElementById('qr-code'), {
    text: '{{ shop.url }}',
    width: 120,
    height: 120
  });
</script>
